
body {
  font: 1.2em/1.5 sans-serif;
  margin: 0;
  padding: 20px 30px;
}

h1 {
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 2px solid firebrick;
}

h2 {
  margin-top: 30px;
}

ul {
  padding: 20 px;
  list-style-position: inside;
}

li {
  margin-bottom: 
}
