
body {
  margin: 0;
  padding: .8% 24%;
  font: 1.1em/1.5 sans-serif;
}

a,
p {
  padding: 3px;
}

form {
  margin-top: 30px;
}

input {
  font-size: inherit;
}

input[type="text"] {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: 250px;
  border: 2px solid steelblue;
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  border: none;
  background: steelblue;
  color: white;
  font-size: inherit;
}

/* Pseudo-classes */

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: tomato;
}

a:active {
  font-size: 26px;
}

:focus {
  background-color: yellow;
}
