
body {
  background-color: #e8f3f8;
  font: 1em/1.5 sans-serif;
}

form {
  margin: 80px auto;
  width: 320px;
  color: steelblue;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: inherit;
}

input[type="text"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
}

input[type="radio"] {
  margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
  margin-left: 0;
}

input[type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: steelblue;
  color: blue;
  cursor: pointer;
}

/* UI Element States Pseudo-Classes */

input[type="text"]:enabled {
  background: #fbfbcc;
}

:disabled {
  background: #ddd;
}

input[type="radio"]:checked + label {
  font-size: 20px;
  font-weight: bold;
}
