
/* Numeric and Textual Values
----------------------------------------------------------------------------- */

body {
  font: normal 1.2em/1.5 sans-serif; /* 19px */
  padding: 2em 0;
}

div {
  width: 800px;
  padding: 2em;
  margin: auto;
  margin-top: -8em;
  background-image: url('../images/bg.jpg');
}

p {
  color: red;
  width: 50%;
  font-size: 75%;
}

a {
  color: inherit;
}

strong {
  color: initial;
}

div:after {
  content: "\\A string with \"escaped\" double quotes.\\";
  font-size: 1.5em;
  color: blue;
}
