
/* Page Styles
----------------------------------------------------------------------------- */

body {
  font-family: sans-serif;
  text-align: center;
  line-height: 1.5;
  width: 75%;
  margin: 0 auto;
  color: #fff;
  padding: 2em 0;
  padding-top: 1em;
  background: #000;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 1px dotted #a3a3a3;
}

.box {
  color: #253641;
  display: inline-block;
  padding: 15px 30px;
  margin-bottom: 1.3em;
  background: #85bad7;
  box-sizing: border-box;
}

ul {
  margin-top: 10px;
}

li {
  padding: 8px 0;
}

.viewport {
  height: 100px;
  display: inline-block;
  background: #fff;
}

h1 + .viewport {
  margin-left: 0;
}

/* Font-Relative Length Units
----------------------------------------------------------------------------- */

html {
  font-size: 1em;
}

.box {
  font-size: 2em;
}

p {
  font-size: 1.2rem;
}

/* Viewport-Relative Length Units
----------------------------------------------------------------------------- */

.viewport {
  width: 15vh;
  height: 80vmin;
  margin: 2vw;
}

