
body {
  color: #222;
  font: normal 1.1em/1.5 sans-serif;
  margin: 80px auto;
  width: 60%;
}

/* Pseudo-elements */

.intro::first-line {
  color: royalblue;
  font-weight: bold;
  font-size: 32px;
}

.intro::first-letter {
  float: left;
  margin: 10px 5px 0 0;
  padding: 5px 10px;
  background: #e0e0e0;
  font-size: 100px;
  line-height: 1;
}
