
body {
  color: #222;
  font: normal 1.2em/1.5 sans-serif;
  margin: 0 auto;
  width: 78%
}

div {
  background-color: #919090;
  color: white;
  float: left;
  width: 165px;
  height: 165px;
  margin: 50px 40px 40px 0;
  padding: 20px;
}

p {
  clear: both;
}

/* Structural Pseud-Classes */

div:nth-of-type(odd){
  background-color: black;
}

p:only-of-type {
  color: blue;
}
