
body {
  padding: 1% 22%;
  font: 1em/1.5 sans-serif;
}

form {
  margin-top: 30px;
}

/* Attribute Selectors */

a[class="foo"] {
  background-color: crimson;
  color: white;
  padding: 5px;
}

a[target="_blank"] {
  text-decoration: none;
  border-bottom: 2px dotted crimson;
}

input[type="email"] {
  width: 200px;
  height: 25px;
  border: 2px solid grey;
  background: lightyellow;
}

input[type="submit"] {
  margin-left: 5px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: steelblue;
  color: white;
}
