
body {
  font: normal 1.1em/1.5 sans-serif;
  padding: 0 22;
}

ul {
  line-height: 2.1em;
  list-style-type: none;
  padding-left: 20px;
}

h2 {
  margin-top: 0;
}

div {
  margin-bottom: 12px;
  padding: 20px;
}

/* Pseudo-classes */

:root { /* Has the highest specificity */
  background-color: #e0eef5;
}

:target {
  color: white;
  background-color: black;
}

:empty {
  background-color: tomato;
}

div:not(:empty) { /* Has a higher specificity */
  background-color: steelblue;
}
