
/* Type selectors */

body {
  background-color: #cadde5;
  padding: 40px;
}

h1 {
  color: #2980b9;
  font-size: 40px;
}

h2 {
  color: #e74c3c;
}

p {
  color: white;
  padding: 18px;
  background-color: #4b8bc1;
}

/* Descending selectors */

h2 span {
  color: #1e4667;
}

p span {
  color: black;
  font-weight: bold;
}
